streamlit
pandas
plotly
python-dotenv
transformers
tokenizers  # Add this line
langchain
langchain-community
langchain-experimental
langchain-huggingface
streamlit-chat
streamlit-elements
streamlit-option-menu
torch
openpyxl
accelerate
psutil
